/* You can add global styles to this file, and also import other style files */

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    color: white;
    background-color: black;
}

.mat-drawer-container {
    color: white;
    background-color: black;
}

.mat-dialog-container, .mat-dialog-container .mat-stepper-vertical {
    background: rgb(43, 55, 123);
    color: white;
}

.mat-dialog-container .mat-step-header .mat-step-label.mat-step-label-active {
    color: white;
}