<mat-card class="card">
    <mat-card-header>
        <div mat-card-avatar class="header-image" [style.background-image]="'url(' + artist.profile_picture + ')'"></div>
        <mat-card-title>{{sound.title}}</mat-card-title>
        <mat-card-subtitle>{{sound.style_name}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="albumPicture">
    <mat-card-content>
        <audio controls="" name="media" [src]="sound.file"></audio>
    </mat-card-content>
    <mat-card-actions>
        <div>
        <button mat-button (click)="LikeSound()"><mat-icon>thumb_up</mat-icon></button>
        {{sound.like_count}}</div>
    </mat-card-actions>
</mat-card>