<div class="artists-infos stroke-text" [style.background-image]="'url(' + artist.profile_picture + ')'">
    <div class="artists-header">
        <h1 class="username">{{artist.username}}</h1>
        <div class="followers">
            {{ artist.followers}} followers
            <div *ngIf="userService.connected && artist.id != userService.user.id">
                <button *ngIf="!isArtistFollowed()" mat-raised-button color="accent" (click)="follow()">Suivre</button>
                <button *ngIf="isArtistFollowed()" mat-raised-button color="warn" (click)="unfollow()">Ne plus suivre</button>
            </div>
        </div>
    </div>

    <div class="sounds">
        <h2 class="title" *ngIf="artist.sounds.length > 0">Ses Free-Sons</h2>
        <div class="card-list" fxLayout="row wrap" fxLayoutAlign="space-around center">
            <app-soundcard *ngFor="let sound of artist.sounds" [soundId]="sound.id"></app-soundcard><!--.slice(0,3)-->
        </div>
        
        <h2 class="title" *ngIf="artist.albums.length > 0">Ses Albums</h2>
        <div class="card-list" fxLayout="row wrap" fxLayoutAlign="space-around center">
            <app-albumcard *ngFor="let album of artist.albums" [albumId]="album.id"></app-albumcard>
        </div>
    </div>
    
    <!--h2 class="title" *ngIf="artist.playlists.length > 0">Ses Playlists</h2>
    <div class="card-list" fxLayout="row wrap" fxLayoutAlign="space-around center">
        <app-playlistcard *ngFor="let playlist of artist.playlists" [playlistId]="playlist.id"></app-playlistcard>
    </div-->
</div>