artist.username

<div class="artists-infos" [style.background-image]="artist.profile_picture">

</div>
<div fxLayout="row" fxLayoutAlign="space-evenly">
    <app-soundcard *ngFor="let sound of artist.sounds.slice(0,3)" [soundId]="sound.id"></app-soundcard>
</div>

bandeau Albums
<div *ngFor="let album of artist.albums">
    <app-albumcard [albumId]="1"></app-albumcard>
</div>

bandeau Playlist
<div *ngFor="let playlist of artist.playlists">
    <app-playlistcard [playlistId]="1"></app-playlistcard>
</div>