<mat-card *ngIf="userService.connected">
    <img class="img" [src]="img" (click)="fileInput.click()"/>
    <button mat-button [disabled]="sendingImage || !img || img == userService.user.profile_picture" (click)="sendImage()">
        Mettre l'image a jour
        <mat-icon *ngIf="sendingImage"  style="margin-left: 10px;">
            <mat-spinner [diameter]="20"></mat-spinner>
        </mat-icon>
    </button>
    <button mat-button (click)="fileInput.click()">
        <input #fileInput type="file" accept="image/*" capture="camera" (change)="onFileSelected($event)" style="display:none;" />
        <mat-icon>insert_photo</mat-icon>
        Choisir une image
    </button>
    <form [formGroup]="profileForm" (submit)="updateProfile()">
        <mat-form-field appearance="fill">
            <mat-error *ngIf="profileForm.controls.username?.errors?.error">
                Entrez un pseudonyme valide.
            </mat-error>
            <mat-error *ngIf="profileForm.controls.username?.errors?.custom">
                {{formErr.username}}
            </mat-error>
            <mat-label>Changez le pseudonyme</mat-label>
            <input matInput placeholder="Pseudonyme" formControlName="username" required>
        </mat-form-field><br/>
        <mat-form-field appearance="fill">
            <mat-error *ngIf="profileForm.controls.email?.errors?.error">
                Entrez une adresse email valide.
            </mat-error>
            <mat-error *ngIf="profileForm.controls.email?.errors?.custom">
                {{formErr.email}}
            </mat-error>
            <mat-label>Changez l'adresse email</mat-label>
            <input matInput placeholder="exemple@exemple.com" formControlName="email" type="email" required>
        </mat-form-field><br/>
        <mat-form-field appearance="fill">
            <mat-error *ngIf="profileForm.controls.password?.errors?.error">
                Au moins: 8 caracteres, un chiffre, une lettre.
            </mat-error>
            <mat-error *ngIf="profileForm.controls.password?.errors?.custom">
                {{formErr.password}}
            </mat-error>
            <mat-label>Chnages le mot de passe</mat-label>
            <input matInput placeholder="Mot de passe" formControlName="password" [type]="hidePassword ? 'password' : 'text'">
            <button mat-icon-button matSuffix type="button" (click)="hidePassword = !hidePassword" [attr.aria-label]="'Cacher le mot de passe'" [attr.aria-pressed]="hidePassword">
                <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field><br/>
        <mat-form-field appearance="fill">
            <mat-error *ngIf="profileForm.hasError('notSame')">
                Les mots de passe ne correspondent pas
            </mat-error>
            <mat-label>Confirmer le mot de passe</mat-label>
            <input matInput placeholder="Confirmez le mot de passe" formControlName="confirmPassword" [type]="hideConfirm ? 'password' : 'text'" [errorStateMatcher]="matcher">
            <button mat-icon-button matSuffix type="button" (click)="hideConfirm = !hideConfirm" [attr.aria-label]="'Cacher le mot de passe'" [attr.aria-pressed]="hideConfirm">
                <mat-icon>{{hideConfirm ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            </mat-form-field><br/>
        <button mat-button color="accent" type="submit" [disabled]="!profileForm.valid || submitting">
            Mettre les informations a jour
            <mat-icon *ngIf="submitting"  style="margin-left: 10px;">
                <mat-spinner [diameter]="20"></mat-spinner>
            </mat-icon>
        </button>
    </form>
</mat-card>