.img {
    max-height: 200px;
    width: auto;
    margin: auto;
    display: block;
}

.grid-button-article {
    margin-left: 15px;
    margin-right: 15px;
}

mat-form-field {
    min-width: 75%;
    margin-bottom: 10px;
}

mat-card {
    text-align: center;
    min-width: 50vw;
}

form {
    margin-top: 50px;
}

.asterix--after:after {
    content: "*";
    color: red;
}