<form [formGroup]="searchForm" (submit)="search()">
    <mat-form-field color="accent" appearance="standard">
        <input matInput type="text" [matAutocomplete]="auto" placeholder="Rechercher un artiste" formControlName="artistName"/>
        <button matSuffix mat-button type="submit">
          <mat-icon matSuffix color="accent">search</mat-icon>
        </button>
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
            <mat-option (click)="search()" *ngFor="let artist of filterArtists()" [value]="artist.username">
              {{artist.username}}
            </mat-option>
          </mat-autocomplete>
    </mat-form-field>
</form>