<mat-sidenav-container class="sidenav-container">
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-button routerLink="/">
        <img class="logo" src="assets/png/logo.png" />
        <a class="logo-title">Free-sons</a>
      </button>
      <span class="spacer"></span>
      <app-artists-search></app-artists-search>
      <span class="spacer"></span>
      <div *ngIf="userService.connected">
        <button mat-button [matMenuTriggerFor]="profile">
          <mat-icon>account_circle</mat-icon>
          {{ userService.user.username }}
        </button>
        <mat-menu #profile="matMenu">
          <button mat-menu-item routerLink="/upload">Mettre un son en ligne</button>
          <button mat-menu-item [routerLink]="'/artist/' + userService.user.id">Mes Free-sons</button>
          <button mat-menu-item>Mes playlists</button>
          <mat-divider></mat-divider>
          <button mat-menu-item routerLink="/profile">
            <mat-icon>manage_accounts</mat-icon>
            Gérer mon profil
          </button>
        </mat-menu>
      </div>
      <div *ngIf="!userService.connected">
        <button mat-button (click)="signin()">
          <mat-icon>account_circle</mat-icon>
          Connexion
        </button>
      </div>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
