<mat-sidenav-container class="sidenav-container">
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-button routerLink="/">
        <img class="logo" src="assets/png/logo.png" />
        <a class="logo-title">Free-sons</a>
      </button>
      <span class="spacer"></span>
      <mat-icon *ngIf="!connectionService.online">wifi_off</mat-icon>
      <div *ngIf="userService.connected">
        <button mat-button [matMenuTriggerFor]="profile">
          <mat-icon>account_circle</mat-icon>
          {{ userService.user.username }}
        </button>
        <mat-menu #profile="matMenu">
          <button *ngIf="connectionService.online" mat-menu-item routerLink="/upload">
            <mat-icon>upload</mat-icon>
            Mettre un son en ligne
          </button>
          <button *ngIf="!connectionService.online" (click)="stopPropagation($event)" mat-menu-item>
            <mat-icon>wifi_off</mat-icon>
            Mettre un son en ligne
          </button>
          <button mat-menu-item [routerLink]="'/artist/' + userService.user.id">
            <mat-icon>library_music</mat-icon>
            Mes Free-sons
          </button>
          <mat-divider></mat-divider>
          <button *ngIf="connectionService.online" mat-menu-item>
            <mat-slide-toggle color="accent" [(ngModel)]="notifications" (click)="stopPropagation($event)" (change)="notifToggle($event)">Notifications</mat-slide-toggle>
          </button>
          <button *ngIf="!connectionService.online" (click)="stopPropagation($event)" mat-menu-item>
            <mat-icon>wifi_off</mat-icon>
            Notifications
          </button>
          <mat-divider></mat-divider>
          <button *ngIf="connectionService.online"  mat-menu-item routerLink="/profile">
            <mat-icon>manage_accounts</mat-icon>
            Gérer mon profil
          </button>
          <button *ngIf="!connectionService.online" (click)="stopPropagation($event)" mat-menu-item>
            <mat-icon>wifi_off</mat-icon>
            Gérer mon profil
          </button>
        </mat-menu>
      </div>
      <div *ngIf="!userService.connected">
        <button mat-button *ngIf="connectionService.online" (click)="signin()">
          <mat-icon>account_circle</mat-icon>
          Connexion
        </button>
      </div>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
