
.cardo {
    height: 100vh;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.card {
    max-width: 600px;
  }
  
.header-image {
    background-image: url('music_note-black-48dp.svg');
    background-size: cover;
  }