.grid-button-article {
    margin-left: 15px;
    margin-right: 15px;
}

mat-form-field {
    width: 50%;
    margin-bottom: 10px;
}

mat-card {
    text-align: center;
}

form {
    margin-top: 50px;
}