.stepper{
    padding-left: 90px;
}

mat-form-field {
    min-width: 50%;
}

.asterix--after:after {
    content: "*";
    color: red;
}

.or {
    line-height: 55px;
    margin-left: 15px;
}

@media (max-width: 599px) {

    .stepper {
        padding-left: 0px;
    }
}