<!--p><button onclick="getStream()">Grab video</button></p>
<p><video autoplay style="height: 180px; width: 240px;"></video></p>
<p><button onclick="takePhoto()">Take Photo!</button></p>
<p><img id="imageTag" width="240" height="180"></p-->

<!--button>
    <mat-icon>camera</mat-icon>
    Prendre une photo
</button>

<button mat-button (click)="fileInput.click()">
    <input #fileInput type="file" (change)="onFileSelected($event)" style="display:none;" />
    <mat-icon>insert_photo</mat-icon>
    Choisir un fichier
</button-->